<h1>Welcome {{ username }}</h1>

<form id="submitDiet" action="/dietPreferences" method="post">
	{{#if nut}}
	    <input type="checkbox" name="diet" value="nut" checked> Nut allergies<br>
	{{else}}
	    <input type="checkbox" name="diet" value="nut" > Nut allergies<br>
	{{/if}}

	{{#if veg}}
	    <input type="checkbox" name="diet" value="veg" checked> Vegetarian<br>
	{{else}}
	    <input type="checkbox" name="diet" value="veg" > Vegetarian<br>
	{{/if}}

	{{#if lactose}}
	    <input type="checkbox" name="diet" value="lactose" checked> Lactose Intolerant<br>
	{{else}}
	    <input type="checkbox" name="diet" value="lactose"> Lactose Intolerant<br>
	{{/if}}

	{{#if vegan}}
	    <input type="checkbox" name="diet" value="vegan" checked> Vegan <br>
	{{else}}
	    <input type="checkbox" name="diet" value="vegan"> Vegan <br>
	{{/if}}

	{{#if celiac}}
	    <input type="checkbox" name="diet" value="celiac" checked> Gluten allergy <br>
	{{else}}
	    <input type="checkbox" name="diet" value="celiac"> Gluten allergy <br>
	{{/if}}


  <input type="text" name="other" placeholder="other" value="{{other}}">
  <input type="submit" value="Save">
</form>